In [15]:
# here, we import the file state-areas.csv and export to a file titled state-areas-final.csv

import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('../../SharedData/dataset-generation/state-areas.csv')
df.head()

        state    area
0     Alabama   52423
1      Alaska  656425
2     Arizona  114006
3    Arkansas   53182
4  California  163707

In [17]:
# these lists are used to change the full state names in the dataframe to the corresponding state abbreviations
state_names = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia",
    "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland",
    "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey",
    "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina",
    "South Dakota", "Tennessee", "Texas", "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
]

abbreviations = [
    "AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA",
    "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME", "MD",
    "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ",
    "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC",
    "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"
]

In [18]:
# Create a dictionary of all state names and map it to the dataframe
name_dict = {state_names[i]:abbreviations[i] for i in range(len(state_names))}
df['state'] = df['state'].map(name_dict)
df.head()

  state    area
0    AL   52423
1    AK  656425
2    AZ  114006
3    AR   53182
4    CA  163707

In [ ]:
# export to a .csv
df.to_csv('../../SharedData/dataset-generation-final/state-areas-final.csv', index=False)