In [ ]:
# here, we convert 1990-2020.csv into the proper timer series format and output 1990-2020-final.csv
# 1990-2020.csv should be placed in ./Data directory

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('./Data/1990-2020.csv')

d = {'state':[], 'date':[], 'population':[]}
new_df = pd.DataFrame(data=d)

In [ ]:
# loop through each of 30 years in given row in dataframe
# copy each year's population 12 times (one for each month) into 12 rows of new_df
# for a total of 12*30*50 entries

month_counter = 1   # acts like modulo 12 arithmetic
idx = 0             # keeps track of row index

for state in range(50):
    for year in range(1,len(df.iloc[state])-1):
        for month in range(12):
            new_df.loc[idx] = [df.iloc[state][0],df.columns[year]+'-'+'{:02d}'.format(month_counter),df.iloc[state][year]]
            if month_counter < 12:        
                month_counter += 1
            else:
                month_counter = 1
            idx += 1

new_df.head(13)

      state     date population
0   Alabama  1990-01  4,050,055
1   Alabama  1990-02  4,050,055
2   Alabama  1990-03  4,050,055
3   Alabama  1990-04  4,050,055
4   Alabama  1990-05  4,050,055
5   Alabama  1990-06  4,050,055
6   Alabama  1990-07  4,050,055
7   Alabama  1990-08  4,050,055
8   Alabama  1990-09  4,050,055
9   Alabama  1990-10  4,050,055
10  Alabama  1990-11  4,050,055
11  Alabama  1990-12  4,050,055
12  Alabama  1991-01  4,099,156

In [ ]:
# export new_df to a .csv

new_df.to_csv('./Data/1990-2020-final.csv')