In [42]:
# here, we combine all .csv files into the single file total_state_data.csv
# all .csv files to be combined should be placed in ./Data directory

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df1 = pd.read_csv('./Data/1990-2020-final.csv')
df2 = pd.read_csv('./Data/monthly-emissions-1996-2024-final.csv')
df3 = pd.read_csv('./Data/monthly-weather-1990-2019-final.csv')
df4 = pd.read_csv('./Data/gdp-1997-2023-final-final.csv')

In [43]:
df4.head(50)

    Unnamed: 0    state        date  gdp_rel_2017
0            0  Alabama  1997-01-01      154700.0
1            1  Alabama  1997-02-01      154700.0
2            2  Alabama  1997-03-01      154700.0
3            3  Alabama  1997-04-01      154700.0
4            4  Alabama  1997-05-01      154700.0
5            5  Alabama  1997-06-01      154700.0
6            6  Alabama  1997-07-01      154700.0
7            7  Alabama  1997-08-01      154700.0
8            8  Alabama  1997-09-01      154700.0
9            9  Alabama  1997-10-01      154700.0
10          10  Alabama  1997-11-01      154700.0
11          11  Alabama  1997-12-01      154700.0
12          12  Alabama  1998-01-01      160396.4
13          13  Alabama  1998-02-01      160396.4
14          14  Alabama  1998-03-01      160396.4
15          15  Alabama  1998-04-01      160396.4
16          16  Alabama  1998-05-01      160396.4
17          17  Alabama  1998-06-01      160396.4
18          18  Alabama  1998-07-01      160396.4
19          19  Alabama  1998-08-01      160396.4
20          20  Alabama  1998-09-01      160396.4
21          21  Alabama  1998-10-01      160396.4
22          22  Alabama  1998-11-01      160396.4
23          23  Alabama  1998-12-01      160396.4
24          24  Alabama  1999-01-01      166531.8
25          25  Alabama  1999-02-01      166531.8
26          26  Alabama  1999-03-01      166531.8
27          27  Alabama  1999-04-01      166531.8
28          28  Alabama  1999-05-01      166531.8
29          29  Alabama  1999-06-01      166531.8
30          30  Alabama  1999-07-01      166531.8
31          31  Alabama  1999-08-01      166531.8
32          32  Alabama  1999-09-01      166531.8
33          33  Alabama  1999-10-01      166531.8
34          34  Alabama  1999-11-01      166531.8
35          35  Alabama  1999-12-01      166531.8
36          36  Alabama  2000-01-01      168695.3
37          37  Alabama  2000-02-01      168695.3
38          38  Alabama  2000-03-01      168695.3
39          39  Alabama  2000-04-01      168695.3
40          40  Alabama  2000-05-01      168695.3
41          41  Alabama  2000-06-01      168695.3
42          42  Alabama  2000-07-01      168695.3
43          43  Alabama  2000-08-01      168695.3
44          44  Alabama  2000-09-01      168695.3
45          45  Alabama  2000-10-01      168695.3
46          46  Alabama  2000-11-01      168695.3
47          47  Alabama  2000-12-01      168695.3
48          48  Alabama  2001-01-01      168448.3
49          49  Alabama  2001-02-01      168448.3

In [44]:
# remove duplicate indexing columns

df1 = df1.drop('Unnamed: 0', axis=1)
df2 = df2.drop('Unnamed: 0', axis=1)

In [45]:
total_df = df1.merge(df2, on=['state','date'], how='inner').merge(df3, on=['state','date'], how='inner')

In [46]:
total_df.to_csv('./Data/total_state_data.csv')