In [13]:
# Here, we convert total_state_data.csv into annual data by taking averages
# Output is yearly_total_data.csv
# total_state_data.csv should be placed in ./Data directory

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('./Data/total_state_data.csv')

In [14]:
df.head()

,state,date,population,total_co2,prcp,snow,tavg,gdp_rel_2017,energy_prod,energy_use,energy_flow
0,AL,1990-01-01,4050055.0,4.262280e+06,7.89,0.0,46.8,NaN,1269484.0,1599432.0,-329948.0
1,AL,1990-02-01,4050055.0,3.698828e+06,9.35,0.0,51.9,NaN,1269484.0,1599432.0,-329948.0
2,AL,1990-03-01,4050055.0,3.780858e+06,8.92,0.0,54.2,NaN,1269484.0,1599432.0,-329948.0
3,AL,1990-04-01,4050055.0,3.472907e+06,4.48,0.0,59.7,NaN,1269484.0,1599432.0,-329948.0
4,AL,1990-05-01,4050055.0,4.191628e+06,4.38,0.0,67.3,NaN,1269484.0,1599432.0,-329948.0

In [15]:
df['date']=pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year

In [16]:
new_df = df.groupby(['state','year'], as_index=False)[['year','population','total_co2','prcp','snow','tavg','gdp_rel_2017','energy_prod', 'energy_use', 'energy_flow']].mean().rename(columns={"date": "year"})

In [17]:
new_df.to_csv('./Data/yearly_total_data.csv')