In [ ]:
# Here, we convert total_state_data.csv into annual data by taking averages
# Output is yearly_total_data.csv
# total_state_data.csv should be placed in ./Data directory

import pandas as pd
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('./Data/total_state_data.csv')

In [59]:
df['date']=pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['population'] = df['population'].str.replace(',', '')
df['population'] = df['population'].astype(int)

In [60]:
new_df = df.groupby(['state','year'], as_index=False)[['year','population','total_co2','prcp','snow','tavg','gdp_rel_2017']].mean().rename(columns={"date": "year"})

In [61]:
new_df.head()

,state,year,population,total_co2,prcp,snow,tavg,gdp_rel_2017
0,AK,2019.0,734820.0,0.000000e+00,1.370000,5.825000,32.591667,52377.5
1,AL,1997.0,4367935.0,6.596638e+06,4.804167,0.000000,59.775000,154700.0
2,AL,1998.0,4404701.0,6.713102e+06,3.809167,0.058333,63.333333,160396.4
3,AL,1999.0,4430141.0,6.998195e+06,3.810000,0.000000,62.516667,166531.8
4,AL,2000.0,4452173.0,7.400530e+06,3.575833,0.041667,61.616667,168695.3

In [ ]:
new_df.to_csv('./Data/yearly_total_data.csv')