In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [12]:
df = pd.read_csv("../../../SharedData/total_state_data.csv")
df.date = pd.to_datetime(df.date)
df = df[(df.date.dt.year>=1995)&(df.date.dt.year<2020)]

mo_features = ['state', 'date', 'monthly_emissions', 'monthly_population', 'prcp', 'snow', 'tavg',
       'gdp_rel_2017_interp', 'monthly_energy_prod', 'monthly_energy_use', 'monthly_energy_flow', 
       'monthly_num_plants', 'monthly_energy_renew', 'monthly_energy_fossil', 'monthly_energy_total', 
       'monthly_renew_pct', 'monthly_fossil_pct', 'state_sq_ft',
       'monthly_pop_density']
df = df[mo_features]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14700 entries, 2940 to 17639
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   state                  14700 non-null  object
 1   date                   14700 non-null  datetime64[ns]
 2   monthly_emissions      14700 non-null  float64
 3   monthly_population     14400 non-null  float64
 4   prcp                   14334 non-null  float64
 5   snow                   14334 non-null  float64
 6   tavg                   14334 non-null  float64
 7   gdp_rel_2017_interp    12720 non-null  float64
 8   monthly_energy_prod    14400 non-null  float64
 9   monthly_energy_use     14400 non-null  float64
 10  monthly_energy_flow    14400 non-null  float64
 11  monthly_num_plants     13493 non-null  float64
 12  monthly_energy_renew   14400 non-null  float64
 13  monthly_energy_fossil  14400 non-null  float64
 14  monthly_energy_total   14400 non-null  float64
 15  monthly_renew_pct      14400 non-null  float64
 16  monthly_fossil_pct     14400 non-null  float64
 17  state_sq_ft            14400 non-null  float64
 18  monthly_pop_density    14400 non-null  float64
dtypes: datetime64[ns](1), float64(17), object(1)
memory usage: 2.2+ MB

In [39]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

# ny_emissions_train, ny_emissions_test = train_test_split(ny_emissions, test_size=0.2, shuffle=True)

In [45]:
df_de = df[df.state == "DE"].reset_index()
df_de = df_de.dropna()

train_size = 0.8
df_de_train = df_de.iloc[:int(len(df_de)*train_size)]
df_de_test = df_de.iloc[int(len(df_de)*train_size):]

In [46]:
regr_predict = 'monthly_emissions'
regr_features = ['monthly_population', 'prcp', 'snow', 'tavg',
       'gdp_rel_2017_interp', 'monthly_energy_prod', 'monthly_energy_use', 'monthly_energy_flow', 
       'monthly_num_plants', 'monthly_energy_renew', 'monthly_energy_fossil', 'monthly_energy_total', 
       'monthly_renew_pct', 'monthly_fossil_pct', 'state_sq_ft',
       'monthly_pop_density']

In [47]:
alpha = [0.00001,0.0001,0.001,0.01,0.1,1,10,100,1000]

## The degree of the polynomial we will fit
n=len(regr_features)

#$ These will hold our coefficient estimates
ridge_coefs = np.empty((len(alpha),n))

## for each alpha value
for i in range(len(alpha)):
    ## set up the ridge pipeline
    ## first scale
    ## then make polynomial features
    ## then fit the ridge regression model
    ridge_pipe = Pipeline([('scale',StandardScaler()),
                              # ridge model here, max_iter=5000000,
                              ('ridge', Ridge(alpha=alpha[i], max_iter=5000000))
                              ])
    
    ## fit the ridge
    ridge_pipe.fit(df_de_train[regr_features], df_de_train[regr_predict])
        
    # record the coefficients
    ridge_coefs[i,:] = ridge_pipe['ridge'].coef_

In [ ]:
print("Ridge Coefficients")

pd.DataFrame(np.round(ridge_coefs,8),
            columns = ["b_" + str(i) for i
                       
                        in range(1,n+1)],
            index = ["alpha=" + str(a) for a in alpha])

Ridge Coefficients

                        b_1          b_2  ...  b_15           b_16
alpha=1e-05  -181927.017345 -6928.589764  ...   0.0 -150159.547368
alpha=0.0001 -176048.823499 -6934.156728  ...   0.0 -144649.173834
alpha=0.001  -126059.232796 -6988.798674  ...   0.0  -97807.214179
alpha=0.01     42349.215179 -7436.485297  ...   0.0   59305.537052
alpha=0.1      45201.909012 -8814.908861  ...   0.0   58915.328652
alpha=1         -129.760438 -9491.498388  ...   0.0   17055.298525
alpha=10      -11563.972195 -8321.897850  ...   0.0   14462.856159
alpha=100     -13248.174899 -3543.489206  ...   0.0   13656.058318
alpha=1000     -7137.915959   230.951352  ...   0.0    7015.489738

[9 rows x 16 columns]